/* HEADER */
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px 64px;
      position: sticky;
      top: 0;
      background: rgba(255,255,255,.75);
      backdrop-filter: var(--blur);
      z-index: 10;
      height: 5rem;
    }

    header nav a {
      margin: 0 16px;
      text-decoration: none;
      color: var(--text);
      font-weight: 500;
      position: relative;
    }

    header nav a::after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 0;
      height: 2px;
      background: var(--primary);
      transition: var(--transition);
    }

    header nav a:hover::after { width: 100%; }

    .btn-whatsapp {
      background: #25d366;
      color: white;
      padding: 10px 18px;
      border-radius: 12px;
      text-decoration: none;
      font-weight: 600;
      transition: var(--transition);
    }

    .btn-whatsapp:hover { transform: scale(1.05); }

    .img-container{
      display: flex;
      align-items: center;
      width: 5rem;
    }

    .img-container img {
      width: 100%;
      height: auto;
    }
